@import "tailwindcss";

*{
  scroll-behavior: smooth;
}
.navBar{
   font-family: "Poppins", sans-serif;
}

/* .home{
  height: calc(100vh - 72px)
} */

/* .aboutPage{
  height: calc(100vh - 72px)
} */